@use 'variables' as v;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2.section_title {
  font-family: 'Noto Sans', sans-serif;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 0.25em 0.5em; /*上下 左右の余白*/
  background: transparent; /*背景透明に*/
  border-left: solid 5px orange; /*左線*/
  border-bottom: solid 1px lightgray;
}

h3.section_title {
  font-family: 'Noto Sans', sans-serif;
  padding-bottom: 10px;
  margin-top: 25px;
  margin-bottom: 15px;
  border-bottom: solid 1px lightgray;
}

.link-underline {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.link-underline::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}
.link-underline:hover {
  font-weight: bold;
}
.link-underline:hover::after {
  transform: scale(1, 1);
}

.nav-link {
  width: 100%;
  min-width: 150px;
  text-align: center;
}

.btn-letter {
  width: 50px;
  height: 50px;
  margin-top: 2.5px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-bottom: 2.5px;
  border-radius: 0px;
  border-color: #d3d6da;
  border-width: 2px;
  text-align: center !important;
  vertical-align: center !important;
  font-size: 30px;
  font-weight: bold;
  padding: 0px;
  @include v.mq(md) {
    width: 40px;
    height: 40px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    border-width: 1.6px;
    font-size: 24px;
  }
}

.btn-keyboard {
  width: 40px;
  height: 50px;
  margin-top: 2.5px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-bottom: 2.5px;
  background-color: rgb(240, 240, 240);
  border-width: 2px;
  text-align: center !important;
  vertical-align: center !important;
  font-size: 20px;
  padding: 0px;
}

.btn-keyboard-lg {
  width: 62.5px;
  font-size: 15px;
}

.btn-letter:focus {
  box-shadow: none !important;
}

.btn-keyboard:focus {
  box-shadow: none !important;
}

/* その場で */
.fade-in {
  animation-name: fadeInAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* 左から */
.fade-left {
  animation-name: fadeLeftAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeLeftAnime {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
