html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn-letter {
  width: 50px;
  height: 50px;
  margin-top: 2.5px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-bottom: 2.5px;
  border-radius: 0px;
  border-color: lightgray;
  border-width: 2px;
  text-align: center !important;
  vertical-align: center !important;
  font-size: 30px;
  font-weight: bold;
  color: rgb(72, 72, 72);
  padding: 0px;
}

.btn-keyboard {
  width: 40px;
  height: 50px;
  margin-top: 2.5px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-bottom: 2.5px;
  background-color: rgb(240, 240, 240);
  border-width: 2px;
  text-align: center !important;
  vertical-align: center !important;
  font-size: 20px;
  color: rgb(72, 72, 72);
  padding: 0px;
}

.btn-keyboard-lg {
  width: 62.5px;
  font-size: 15px;
}

.btn-letter:focus {
  box-shadow: none !important;
}

.btn-keyboard:focus {
  box-shadow: none !important;
}
